/* Footer
====================================================================== */
#footer-menu {
    height: 50px;
    background: #fcfcfc url(../img/bg-k20.png) repeat;
    border-top: 4px solid #f6f6f6;
    border-bottom: 4px solid #f6f6f6;
    margin-top: 20px;
}

#footer-menu-logo img {
    margin-top: 10px;
}

#footer-menu-links {
    display: block;
    float: left;
    max-height: 52px;
    margin: 6px 0 6px 0;

}

#footer-menu-links ul,
#footer-menu-links li {
    list-style: disc;
    color: #999999;
    padding: 0;
    margin: 0;
}

#footer-menu-links li:first-child {
    list-style: none;
}


#footer-menu-links ul li {
    float: left;
    position: relative;
    z-index: 100;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#footer-menu-links ul li a {
    display: inline-block;
    color: #999999;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Droid Sans';
    text-transform: lowercase;
    padding: 10px 15px 10px 0px;
    margin: 0px 10px 0px 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

#footer-menu-links ul li:first-child a {}

#footer-menu-links ul li a:hover {
    color: #8698e3;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#footer-menu-back-to-top {
    margin: 10px;
    z-index: 999;
}

#footer-menu-back-to-top a {
    width: 30px;
    height: 30px;
    display: block;
    background-color: #76b6eb;
    background-image: url(/img/scroll-top-top.png);
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#footer-menu-back-to-top a:hover {
    background-color: #cbd2f6;
}

#footer {
    background: url(../img/bg-k10.png) repeat;
    border-bottom: 4px solid #f6f6f6;
    color: #810b0b !important;
    padding: 40px 0px;
    z-index: 1;
    position: relative;
    opacity: 1;
}

#footer,
#footer p,
#footer a {
    color: #666 !important;
}

#footer a:hover {
    color: #fff;
}

.no-margin {
    margin-top: 0;
}

#footer h3 {
    padding: 2px 0px !important;
    margin-bottom: 10px;
    color: #666;
    border-bottom: 5px double #f6f6f6;
}





.span2 {
    width: 170px;
}

.row-fluid .span2 {
    width: 14.52991452991453%;
    width: 14.476723040552828%;
}

input.span2,
textarea.span2,
.uneditable-input.span2 {
    width: 156px;
}

.table .span2 {
    float: none;
    width: 124px;
    margin-left: 0;
}

.span2 {
    width: 104px;
}

.span1 {
    width: 60px;
}

.row-fluid .span1 {
    width: 6.382978723404255%;
    width: 6.329787234042553%;
}

input.span1,
textarea.span1,
.uneditable-input.span1 {
    width: 46px;
}

.table .span1 {
    float: none;
    width: 44px;
    margin-left: 0;
}


.span9 {
    width: 870px;
}

.row-fluid .span9 {
    width: 74.35897435897436%;
    width: 74.30578286961266%;
}

input.span9,
textarea.span9,
.uneditable-input.span9 {
    width: 856px;
}


/*PERCOBAAN*/

h3 {
    color: #fff;
    margin-top: 0px
}

h3 small {
    color: #fff;
}

i.sh:hover {
    color: #F4FF00;
    cursor: pointer;
}

.fot {
    border-right: 1px dashed #fff;
}

.fot ol {
    list-style: none;
    padding-left: 10px;
}

.fot ol li a {
    color: #BCB244;
}

i.sh {
    margin: 5px;
    margin-top: 10px;

}

a.ft1 {
    color: #fff;
    text-decoration: none;
    padding-right: 9px;
    padding-left: 5px;
    font-size: 0.8em;
    border-right: 1px solid #fff;
}

a.ft1:hover {
    color: yellow;
}

@import url(https://fonts.googleapis.com/css?family=Satisfy);

.ucapan {
    font-family: 'Satisfy', cursive;
}

.ultah:hover {
    text-decoration: none;
    color: orangered;
}


/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss {
    background-color: #F56505;
}

.social-network a.icoFacebook {
    background-color: #3B5998;
}

.social-network a.icoTwitter {
    background-color: #33ccff;
}

.social-network a.icoGoogle {
    background-color: #BD3518;
}

.social-network a.icoInstagram {
    background-color: #996633;
}

.social-network a.icoVimeo {
    background-color: #0590B8;
}

.social-network a.icoLinkedin {
    background-color: #007bb7;
}

.social-network a.icoRss:hover i.sc,
.social-network a.icoFacebook:hover i.sc,
.social-network a.icoTwitter:hover i.sc,
.social-network a.icoGoogle:hover i.sc,
.social-network a.icoInstagram:hover i.sc,
.social-network a.icoVimeo:hover i.sc,
.social-network a.icoLinkedin:hover i.sc {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #fff;
}

.social-circle li {
    margin: 0;
    line-height: 50px;
    text-align: center;

}

.social-circle li a:hover,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

/*Back TO TOP*/
.go-top {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    font-size: 30px;
    position: fixed;
    bottom: -40px;
    right: 20px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    background-color: #404040;
    color: #FFFFFF;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
}

.go-top.show {
    bottom: 50px;
}

.go-top:hover {
    background-color: #012554;
    color: #FFFFFF;
}