/*!
* Author: Łukasz Holeczek
* Template: GotYA - HTML5 Responsive Bootstrap Theme
* Version: 1.0.0 
* Bootstrap version: 2.1.
* Copyright 2013 creativeLabs
* www: http://bootstrapmaster.com
* mail: lukasz@bootstrapmaster.com
* You can buy this theme on WrapBootstrap: https://wrapbootstrap.com/theme/simpliq-flat-responsive-admin-template-WB0N1X0T1
* You can find our other themes on: https://bootstrapmaster.com
*/


/* Import Section
=================================================================== */
@import url("icons.css");
/* Icons. */
@import url("icons-color.css");
/* Icons. */
@import url("social-icons.css");
/* Social Icons */
@import url("hover.css");
/* Hover CSS3 Effect */
@import url("parallax-slider.css");
/* Parallax Slider */

.clear {
    clear: both;
}

body {
    font-family: 'Droid Sans';
    font-size: 12px;
    color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Boogaloo" !important;
    font-weight: normal !important;
    color: #666;
    margin: 0;
    padding: 0;
}

.title {
    border-bottom: 3px double #f6f6f6;
    margin-bottom: 10px;
}

.title h1,
.title h2,
.title h3,
.title h4,
.title h5,
.title h6 {
    border-bottom: 5px double #89c236 !important;
    margin-bottom: -4px !important;
    display: inline-block !important;
    padding: 0px 10px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}

#wrapper {
    background: #fff;

}